sudo: false
language: python
matrix:
  include:
      - python: "3.6"
      # Use the Python 3.7 build for PyPI deployments and doc uploads
      - python: "3.7-dev"
        env: PYPI_DEPLOY=true LTD_SKIP_UPLOAD=false
install:
  - "pip install .[dev]"
script:
  - "python setup.py test"
  - "cd docs && make linkcheck && make html && cd ../"
after_success:
  - "pip install ltd-conveyor"
  - 'ltd upload --product "kafkit" --travis --dir docs/_build/html'
env:
  global:
    # LSST the Docs credentials
    - secure: "FDIw03lU62Y26H2K18gx4bhBxCX/bWqVOZrvQQoaRdfCfmA0y5QzsNFR6HJzuh0/ZP9hFA/UiurZU3UYAKXdoPT2j1keLZe51MjVhb4pv1MPGn8e5WnZ0mVfzkEW/SCBwbc9BZTGXOzvZrEQVyCJyHvPb7e2G9nzvLED/uJSQsUS1QMhDO3HMLTSDHs+RWsBs0aDclno8etSFZ8Nj4lcs+C+/c3qIv9PNKmqFtQoLiDqqET1FN9EHiOX4R8PAZh/70Nu5oArMUMqf4UAX/xrg9BDp/X6LU/PU1bcGyzqk+H4L+JqgDxiXPjVQNXRAlbvaTBa5arBgWjmSImojzrXhzr41nTzisOYJAuLh6KtkMaMpoyIhrC4dAVW4VaVDQ70/T52lVCl0lkIblHFrQIQ/Im+rgNs0Agoynxo6bRV6SiQr37jiRBAE+vrrJgkcVceiBRnhBWfyky7aTpd18vJB8RrIpyfuoFe4uMZVeJB9BzEChkssee+GmiJ9RDKI/YOTkZRB0cqzLRFaAWwKC42zSuhLxtB7R0ctlsNja53lCDubUDqzF9vSs0rQfkVIAsWHVCtIoP0VKVu5yGh+C/3JcNuDnBZJuqUPNaQhAFSPx9hEt2LrCp28LPBabIVcDVMmSYt+TMR7wda+WV0tLHLwORjo0YLvVJInsr7O82aObQ="
    - secure: "BVpSzdYzm5zOQlM/m76OyIr7xnYMhJTvG033WZL+uSwUWiMEKHbxjRcaxWevTsVXroREZguv+NWED5BExHWGAXJ9K1ZJ0w9m15ZjrbDzlmx09erhcS8DTGblb5d9nF8CKEePwUcUUZSl61gWPQ0Zs5s0Fz+G92pBuWd3nB7NMbKqBL2YDVn2/djvHEwCgDWHJL8uwizprnJ/JUx1P2vOTd2oMVwv+6PrRB2qFyfETx+hSDcgMlPGekry2rfi2notFH/DFzl9G0CYDJI/3h/c7AnV3O4fJ6+rWGiU42Li+LtLBk4mGIHB6BoUA3hBsPZNVn+ePWSwmVn5GrAmwbE3uRXtgWLQgHSfo0SBlwTY8glDISZwvRqQ/VaPGbjPLTNef1HfyJ+AFOq85O7kf6wdrbpcT3J+Ko1zSZ42EuTzN+/qUjtqmMZKRt4OPnpQqOQf1l2HaZVs90mWOhV8v2LpE+kvy4yckbE7rt6kMV+WkTLTz0u98Mozx0GVEES0jEr+WINyG+3dLl3qwGoa+5N34Vd+mNdsKxiwn/uxmUL4Q10tG+etvfNk7BZ93hS4V+g0PUXgcMurXDb1CR8ayxsI24tXmV7UkYwSH2bxYii893ffNEtv9j8yyu7xlZkgtEn9feeL6GmlIVBc+AYkgOF1C47FKMbtNbpgyAokSnGw0P4="
    - LTD_SKIP_UPLOAD=true  # disable doc deploys in regular test matrix
deploy:
  provider: pypi
  user: sqre-admin
  skip_upload_docs: true
  distributions: sdist bdist_wheel
  password:
    # PyPI deployment credentials for sqre-admin
    secure: "TMM/pLdmvPX2hDzm2q62sYWDLvKTgK6UBqXcdoGAt40+RmGlD2Pfi6cizfLVYdXls8NXB3YDLU0y/TqVYExZO7pdU2lsM3Qcq5+HoHG03tzVG3F7+wClhpK9Qm+b+z4bywqUVoZI0HFYX5A1Joi6r2jJuX7GXyw+I3ouhUKhkgkdday+u9tUDaYo5wF3MsiW8TBOeUsjJOc/Kdnsvp/ecqU6DQOcL0XPzYRfzyOnneKMPR4Vz8nC6Bs22LC7JUA6ELEzs3LpDGABgUzLB2MmdTtIGg4nK03t3AAw98bZwk/PDBXXqd0ylFCiMHLiS4V/3dqgm2e7w7eyVH+FfFE3mIBGakoX1KnCuKMpVImQV1/ezwG+xa1wc1NNHOTiqfmvosJeFcSn9RoeB/k1bSmhJcy7am7ttOLBj96eWOuaFJWhLWoMRfkC8am2xlaMhzIsfk6oop0XiOqX8RvLNDjn38aQQ3qwN031xy42vRmtr3c6r/fsu8+t8AhIWQaVctf2cMCfS1ZxUn1IenLnbzCbRmi/TpxEx4Ae8w3O7IlUry7hTVpbDlu6+dfuqiQ1MNi9CsMH4Ss54KrxwbRpIAonGUfpwZshEyhpEPTRrfu+CHyZSBi8i0JWkYvsCJMBuSA5REEw8uMSM72vy0ot8PvVFG+e5sbP7Kd1nIZc2es8WoA="
  on:
    tags: true
    repo: lsst-sqre/templatekit
    condition: "$PYPI_DEPLOY = true"
